.slip {
  position: relative;
  z-index: 11;
  height: auto;
}

/* Large Device */
.large-slip {
  position: fixed;
  width: 25% !important;
  height: 91%;
  right: 0;
  bottom: 0;
}

.single-slip-container {
  height: 52%;
  padding-bottom: 60px;
  overflow: scroll !important;
}

.multiple-slip-container {
  height: 50%;
  padding-bottom: 60px;
  overflow: scroll !important;
}
/* Small Device */
.small-slip {
  height: 100% !important;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
}
.sm-slip-container {
  height: 90% !important;
}

.sm-single-slip-container {
  height: 63% !important;
  padding-bottom: 60px;
  overflow: scroll !important;
}

.sm-multiple-slip-container {
  height: 55% !important;
  padding-bottom: 60px;
  overflow: scroll !important;
}

.slip-header {
  height: auto !important;
}

.slip-footer {
  height: auto !important;
}

.slip-btn {
  position: fixed;
  z-index: 1;
  bottom: 80px;
  right: 10px;
  width: 3%;
  height: 5.5vh;
  border-radius: 10px;
  box-shadow: 2px 1px 20px red;
}

.slip-close {
  margin-left: 170px;
}

.bet-slip {
  box-shadow: 1px 1px 1px #ffc402;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.bet-btn {
  box-shadow: 2px 3px red;
  transition: 0.5s;
}

.bet-btn:hover {
  box-shadow: 1px 1px red;
  transition: 0.5s;
}

.form-container {
  position: relative;
  bottom: 0;
}

.line-hight-small {
  line-height: 1px;
}

/* Slip Error */
.slip-error {
  bottom: 3em;
  position: absolute;
  width: 92%;
}

.slip-input {
  border: none !important;
}

.slip-input:focus {
  outline: none;
  background-color: #191919;
  color: #fff;
  border: none !important;
}

.slip-input::placeholder {
  color: #fff;
}

/* MYBETS */
.slip-type:hover {
  color: #fff !important;
}
